/* .MuiOutlinedInput-notchedOutline {
  border-color: #53af5b !important;
}

.MuiFilledInput-root {
  border-bottom: 1px solid #53af5b !important;
}

.MuiInput-root {
  border-bottom: 1px solid #53af5b !important;
} */
/* .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border-color: rgb(255 255 255 / 59%) !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline:hover{
  border-color: #1976d2 !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
} */