.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: rgb(255 255 255 / 59%) !important;
}
.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #1962d2 !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}
.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root {
  color: white !important;
}
.css-8ewcdo-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused {
  border-color: white !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #1962d2 !important;
}

.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: #1962d2 !important;
}
.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}
